# Carpetas de compilación
build/
build-*/

# Configuración de Qt Creator
.qtcreator/

# Archivos temporales de Qt Creator
*.user
*.user.*
*.autosave

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ejecutables
*.exe